<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.group.mapper.GroupMapperSJW">

    <sql id="group">
        GROUP_ID,
        GROUP_NAME,
        GROUP_TYPE,
        DESCRIPTION,
        active(IS_ACTIVE) as is_active,
        CREATED_BY,
        UPDATED_AT,
        CREATED_AT,
        EDITOR_USER_ID
    </sql>
    <select id="getAll">
        SELECT
        <include refid="group"/>
                FROM
        groups
    </select>
    <select id="getById">
        SELECT
        <include refid="group"/>
        FROM groups
        WHERE group_id = #{id}
    </select>
    <select id="getAllGroupForEmpRegister">
        SELECT
        group_id,group_name,description,active(is_active)
        FROM groups
        WHERE group_type='C1' AND is_active='O1'
    </select>
</mapper>