<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.meeting.mapper.MeetingMapper">

<!--    회의유형 목록조회-->
    <select id="getMeetingType">
        SELECT code_value AS typeCode,
               code_name AS typeName
        FROM common_code
        WHERE group_value = '0N'
    </select>

<!--    회의록 등록-->
    <insert id="registerMeeting">
        <selectKey order="BEFORE" resultType="int" keyProperty="meetingLogId">
            SELECT NVL(max(meeting_log_id),0) + 1
            FROM meeting_logs
        </selectKey>
        INSERT INTO meeting_logs( meeting_log_id,
                                  project_id,
                                  title,
                                  meeting_type_code,
                                  meeting_date,
                                  place,
                                  content,
                                  created_by,
                                  created_at,
                                  ai_summary,
                                  stt_text,
                                  attachment_group_id )
        VALUES( #{meetingLogId},
                #{projectId},
                #{title},
                #{meetingTypeCode},
                #{meetingDate},
                #{place},
                #{content},
                #{createdBy},
                SYSDATE,
                #{aiSummary},
                #{sttText},
                #{attachmentGroupId} )
    </insert>

<!--    회의록 단건 조회-->
    <select id="getMeetingById" >
        SELECT m.title,
               m.meeting_type_code,
               m.meeting_date,
               m.place,
               m.content,
               m.created_by,
               m.ai_summary,
               m.stt_text,
               u.user_name,
               m.created_at,
               m.meeting_log_id,
               p.project_name,
               p.start_date,
               p.end_date,
               m.attachment_group_id
        FROM meeting_logs m
        LEFT JOIN projects p ON m.project_id = p.project_id
        LEFT JOIN users u ON m.created_by = u.user_id
        WHERE meeting_log_id = #{id}
    </select>

    <!--    알림 테이블 등록-->
    <insert id="registerMeetingAlarm">
        <selectKey order="BEFORE" resultType="int" keyProperty="notificationId">
            SELECT max(notification_id) + 1
            FROM notifications
        </selectKey>
        INSERT INTO notifications( notification_id,
                                   notification_type,
                                   target_type,
                                   target_id,
                                   title,
                                   message,
                                   created_by,
                                   created_at)
        VALUES ( #{notificationId},
                   'R7',
                   'documents',
                   #{targetId},
                   #{title},
                   #{message},
                   #{createdBy},
                   SYSDATE)
    </insert>

    <!--    알림 대상 테이블 등록-->
    <insert id="registerAlarmTarget">
        INSERT INTO notification_targets( notification_target_no,
        notification_id,
        receiver_id)
        VALUES ( (SELECT max(notification_target_no) + 1
        FROM notification_targets),
        #{notificationId},
        #{receiverId} )
    </insert>

<!--    회의록 수정-->
    <update id="modifyMeeting">
        UPDATE meeting_logs
        SET title = #{title},
            content = #{content},
            meeting_type_code = #{meetingTypeCode},
            editor_user_id = #{editorUserId},
            place = #{place},
            updated_at = SYSDATE
        WHERE meeting_log_id = #{meetingLogId}
    </update>

<!--    필터링 조건(유형)-->
    <select id="getFilterType">
        SELECT DISTINCT m.meeting_type_code,
               c.code_name AS typeName
        FROM meeting_logs m
        JOIN common_code c ON m.meeting_type_code = c.code_value
        JOIN projects p ON m.project_id = p.project_id
        WHERE (p.parent_project_id = #{id} OR m.project_id = #{id} AND c.is_active = 'O1')
    </select>

<!--    필터링 조건(작성자)-->
    <select id="getFilterUser">
        SELECT DISTINCT m.created_by,
               u.user_name
        FROM meeting_logs m
        JOIN users u ON m.created_by = u.user_id
        JOIN projects p ON m.project_id = p.project_id
        WHERE (p.parent_project_id = #{id} OR m.project_id = #{id} AND u.is_active = 'O1')
    </select>

    <!--    회의록 전체 목록-->
    <select id="getAllMeeting" >
        SELECT b.*
        FROM  (SELECT ROWNUM AS num, A.*
        FROM (SELECT COUNT(*) OVER() AS task_counts,
                m.title,
                u.user_name,
                m.created_at,
                c.code_name AS type_name,
                m.attachment_group_id,
                m.meeting_log_id
              FROM meeting_logs m
              JOIN projects p ON m.project_id = p.project_id
              JOIN users u ON m.created_by = u.user_id
              LEFT JOIN common_code c ON m.meeting_type_code = c.code_value
              WHERE (p.project_id=#{projectId} OR p.parent_project_id = #{projectId})
              <if test=" createdBy!= null and createdBy != ''">
                  AND m.created_by = #{createdBy}
              </if>
              <if test="meetingTypeCode != null and meetingTypeCode != ''">
                  AND m.meeting_type_code = #{meetingTypeCode}
              </if>
              <if test="startDate != null ">
                  AND m.created_at &gt;= #{startDate}
              </if>
              <if test="endDate != null ">
                  AND m.created_at &lt;= #{endDate}
              </if>
              <if test="search != null and search != ''">
                  AND m.title LIKE '%' || #{search} || '%'
              </if>
              ORDER BY m.created_at DESC) A
        WHERE ROWNUM BETWEEN 1 AND #{endNum})b
        WHERE b.num >= #{startNum}
    </select>

    <!--    회의록 업무 테이블 등록-->
    <insert id="registerMeetingTask">
        <selectKey order="BEFORE" resultType="int" keyProperty="meetingtaskId">
            SELECT NVL(max(meeting_task_id),0) + 1
            FROM meeting_tasks
        </selectKey>
        INSERT INTO meeting_tasks( meeting_task_id,
                                   meeting_log_id,
                                   task_id,
                                   created_at )
        VALUES( #{meetingtaskId},
                #{meetingLogId},
                #{taskId},
                SYSDATE )
    </insert>

<!--    등록된 연결업무 조회-->
    <select id="getRecommandTask">
        SELECT mt.meeting_task_id,
               mt.meeting_log_id,
               mt.task_id,
               t.title,
               t.content
        FROM meeting_tasks mt
        JOIN tasks t ON mt.task_id = t.task_id
        WHERE mt.meeting_log_id = #{id}
    </select>
<!--    연결된 업무 연결 해제-->
    <delete id="removeConnectTask">
        DELETE FROM meeting_tasks
        WHERE meeting_task_id = #{id}
    </delete>

<!--    빈회의록 삭제-->
    <delete id="removeNullMeeting">
        DELETE FROM meeting_logs
        WHERE meeting_log_id = #{id}
    </delete>

<!--    빈회의록 등록-->
    <update id="modifyNullMeeting">
        UPDATE meeting_logs
        SET title = #{title},
            content = #{content},
            meeting_type_code = #{meetingTypeCode},
            editor_user_id = #{editorUserId},
            place = #{place},
        project_id = #{projectId},
        created_by=#{createdBy},
        created_at=SYSDATE,
        ai_summary = #{aiSummary},
        stt_text = #{sttText},
        attachment_group_id = #{attachmentGroupId}
        WHERE meeting_log_id = #{meetingLogId}
    </update>
</mapper>