<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.milestone.mapper.MilestoneMapper">
<!--마일스톤 목록조회-->
    <select id="getMilestoneListByPid" resultType="MilestoneDto">
        SELECT
            M.MILESTONE_ID,
            M.MILESTONE_NAME,
            M.DUE_DATE,
            M.PROJECT_ID,
            M.DESCRIPTION,
            M.STATUS,
            COUNT(T.TASK_ID) AS TOTAL_TASKS,

            SUM(CASE WHEN T.TASK_STATUS_ID=5 THEN 1
                     ELSE 0
                END) AS COMPLETED_TASKS,

            SUM(CASE WHEN T.TASK_STATUS_ID=1 THEN 1
                     WHEN T.TASK_STATUS_ID=2 THEN 1
                     ELSE 0
                END) AS INPROGRESS_TASKS,

            CASE
                WHEN COUNT(T.TASK_ID) = 0 THEN 0
                ELSE ROUND(AVG(NVL(T.PROGRESS_RATE,0)))
            END AS PROGRESS_RATE

        FROM MILESTONES M
        LEFT JOIN TASKS T
            ON M.MILESTONE_ID = T.MILESTONE_ID
        WHERE M.PROJECT_ID = #{projectId}
            AND M.STATUS = 'E1'
        GROUP BY
            M.MILESTONE_ID,
            M.MILESTONE_NAME,
            M.DUE_DATE,
            M.PROJECT_ID,
            M.DESCRIPTION,
            M.STATUS
        ORDER BY M.MILESTONE_ID
    </select>

<!-- 마일스톤 탭용 조회 -->
    <select id="getMilestoneTab" resultType="MilestoneTabDto">
    SELECT DISTINCT
        M.MILESTONE_NAME,
        M.MILESTONE_ID,
        M.START_DATE,
        M.DUE_DATE,
        M.DESCRIPTION
    FROM MILESTONES M
    JOIN PROJECTS P
        ON P.PARENT_PROJECT_ID = M.PROJECT_ID
    WHERE P.PARENT_PROJECT_ID = #{projectId}
        AND M.STATUS='E1'
    ORDER BY M.MILESTONE_ID
    </select>

    <!--마일스톤 별 하위 프로젝트 / 개별업무 조회 -->
    <select id="getSubProjectByMid" resultType="MilestoneSubProjectDto">
        SELECT
            P.PROJECT_ID,
            P.PROJECT_NAME,
            P.SUB_PL_USER_ID,
            P.START_DATE,
            P.END_DATE,
            M.MILESTONE_ID,
            M.MILESTONE_NAME,
            U.USER_NAME
        FROM PROJECTS P
        JOIN MILESTONE_MAPPING MM
            ON P.PROJECT_ID = MM.PROJECT_ID
        JOIN MILESTONES M
            ON MM.MILESTONE_ID = M.MILESTONE_ID
        LEFT JOIN USERS U
            ON U.USER_ID = P.SUB_PL_USER_ID
        WHERE P.PARENT_PROJECT_ID = #{projectId}
            AND M.MILESTONE_ID = #{milestoneId}
        ORDER BY P.PROJECT_ID
    </select>

    <!--마일스톤은 있고 하위프로젝트는 없는 개별업무 조회-->
    <select id="getTaskListWnoSubPid" resultType="TaskListWnoSubPidDtoJDJ">
        SELECT
            T.TITLE,
            T.TASK_ID,
            T.PROJECT_ID,
            T.TASK_STATUS_ID,
            T.TASK_TYPE_ID,
            T.MILESTONE_ID,
            T.START_DATE,
            T.EST_END_DATE,
            T.PROGRESS_RATE,
            U.USER_NAME,
            TT.TYPE_NAME,
            T.PRIORITY_CODE,
            CC.CODE_NAME
        FROM TASKS T
        JOIN USERS U
            ON U.USER_ID=T.ASSIGNEE_USER_ID
        JOIN PROJECTS P
            ON P.PROJECT_ID = T.PROJECT_ID
        JOIN TASK_TYPES TT
            ON TT.TASK_TYPE_ID = T.TASK_TYPE_ID
        JOIN COMMON_CODE CC
            ON CC.CODE_VALUE = T.PRIORITY_CODE
        WHERE P.PARENT_PROJECT_ID IS NULL
            AND T.PROJECT_ID = #{projectId}
            AND T.MILESTONE_ID = #{milestoneId}
    </select>

    <!--마일스톤 생성-->
    <insert id="registerMilestone">
        <selectKey keyProperty="milestoneId" resultType="int" order="BEFORE">
            SELECT milestone_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO MILESTONES(
            MILESTONE_ID,
            CREATED_BY,
            MILESTONE_NAME,
            DESCRIPTION,
            START_DATE,
            DUE_DATE,
            CREATED_AT,
            PROJECT_ID)
        VALUES (
            #{milestoneId},
            #{createdBy},
            #{milestoneName},
            #{description},
            #{startDate},
            #{dueDate},
            SYSDATE,
            #{projectId}
        )
    </insert>

    <!--마일스톤 수정-->
    <update id="modifyMilestone" parameterType="MilestoneCreateDto">
        UPDATE MILESTONES
        SET
            MILESTONE_NAME = #{milestoneName},
            DESCRIPTION    = #{description},
            START_DATE     = #{startDate},
            DUE_DATE       = #{dueDate},
            UPDATED_AT     = SYSDATE,
            EDITOR_USER_ID = #{editorUserId}
        WHERE MILESTONE_ID = #{milestoneId}
        AND PROJECT_ID = #{projectId}
    </update>


    <!--마일스톤 삭제 (상태값 업데이트 : E2로)-->
    <update id="removeMilestoneProc" statementType="CALLABLE">
        { CALL DELETE_MILESTONE_PROC(
        #{projectId, mode=IN, jdbcType=NUMERIC},
        #{milestoneId, mode=IN, jdbcType=NUMERIC},
        #{editorUserId, mode=IN, jdbcType=NUMERIC}
        ) }
    </update>
</mapper>