<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.notice.mapper.NoticeMapper">


<!--    공지사항 등록-->
    <insert id="registerNotice">
        <selectKey order="BEFORE" resultType="int" keyProperty="noticeId">
            SELECT NVL(MAX(notice_id), 0) + 1
            FROM notices
        </selectKey>
        INSERT INTO notices(notice_id,
                            category,
                            title,
                            content,
                            created_by,
                            created_at,
                            project_id,
                            is_pinned,
                            is_deleted,
                            attachment_group_id)
        VALUES(#{noticeId},
               #{category},
               #{title},
               #{content},
               #{createdBy},
               SYSDATE,
               #{projectId},
               #{isPinned},
               'Q2',
               #{attachmentGroupId})
    </insert>

<!--    공지사항 단건 조회-->
    <select id="getNoticeById">
        SELECT n.notice_id,
               n.category,
               n.title,
               n.content,
               n.created_by,
               n.created_at,
               n.project_id,
               n.is_pinned,
               n.is_deleted,
               p.project_name,
               p.start_date,
               p.end_date,
               r.role_name,
               c.code_name AS pinned_name,
               u.user_name,
               n.attachment_group_id
        FROM notices n
        JOIN projects p ON p.project_id = n.project_id
        JOIN roles r ON r.role_id = n.category
        JOIN common_code c ON n.is_pinned = c.code_value
        JOIN users u ON u.user_id = n.created_by
        WHERE n.notice_id = #{id}
    </select>

<!--    공지사항 수정-->
    <update id="modifyNotice">
        UPDATE notices
        SET category = #{category},
            title = #{title},
            content = #{content},
            updated_at = SYSDATE,
            editor_user_id = #{isEditorUserId},
            is_pinned = #{isPinned},
            attachment_group_id = #{attachmentGroupId}
        <if test="isDeleted != null and isDeleted != ''">
            ,is_deleted = #{isDeleted}
        </if>
        WHERE notice_id = #{noticeId}
    </update>

<!--    공지사항 작성자 목록(필터링 조건)-->
    <select id="getFilterUser">
        SELECT DISTINCT(u.user_name),
               u.user_id
        FROM notices n
        JOIN users u ON n.created_by = u.user_id
        JOIN projects p ON n.project_id = p.project_id
        WHERE (p.parent_project_id = #{id} OR n.project_id = #{id} AND u.is_active = 'O1')
    </select>

<!--    공지사항 카테고리 목록(필터링 조건)-->
    <select id="getFilterCategroy">
        SELECT DISTINCT(t.type_name),
               t.task_type_id
        FROM notices n
        JOIN task_types t ON t.task_type_id = n.category
        JOIN projects p ON n.project_id = p.project_id
        WHERE (n.project_id = #{id}) AND t.is_active = 'O1'
    </select>

<!--    공지사항 전체 목록-->
    <select id="getAllNotices" >
        SELECT b.*
        FROM  (SELECT ROWNUM AS num, A.*
        FROM (SELECT COUNT(*) OVER() AS task_counts,
                     n.title,
                     u.user_name,
                     n.created_at,
                     n.is_pinned,
                     n.is_deleted,
                     n.notice_id,
                     t.type_name
              FROM notices n
              JOIN projects p ON n.project_id = p.project_id
              JOIN users u ON n.created_by = u.user_id
              LEFT JOIN task_types t ON n.category = t.task_type_id
              WHERE (p.project_id=#{projectId} OR p.parent_project_id = #{projectId})
        <if test=" userId!= null and userId != ''">
            AND n.created_by = #{userId}
        </if>
        <if test="category != null and category != ''">
            AND n.category = #{category}
        </if>
        <if test="startDate != null ">
            AND n.created_at &gt;= #{startDate}
        </if>
        <if test="endDate != null ">
            AND n.created_at &lt;= #{endDate}
        </if>
        <if test="search != null and search != ''">
            AND n.title LIKE '%' || #{search} || '%'
        </if>
        ORDER BY n.is_deleted DESC, n.is_pinned, created_at DESC) A
        WHERE ROWNUM BETWEEN 1 AND #{endNum})b
        WHERE b.num >= #{startNum}
    </select>

    <update id="modifyNoticeLock">
        UPDATE notices
        SET is_deleted = #{isDeleted}
        WHERE notice_id = #{noticeId}
    </update>

</mapper>