<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.ProjectMapperJDJ">
    <!-- 프로젝트 전체조회             ROUND(AVG(NVL(T.PROGRESS_RATE, 0)), 0)      AS progressRate
-->
    <select id="getAllProject" resultType="ProjectListDTO">
        SELECT
        P2.PROJECT_ID                         AS projectId,
        P2.PROJECT_NAME                       AS projectName,
        P2.IDENTIFIER                         AS identifier,
        TO_CHAR(P2.START_DATE, 'YYYY-MM-DD') AS startDate,
        TO_CHAR(P2.END_DATE, 'YYYY-MM-DD')   AS endDate,
        P2.IS_PUBLIC                          AS isPublic,
        P2.USE_MILESTONE                      AS useMilestone,
        P2.PM_USER_ID                         AS pmUserId,
        P2.PL_USER_ID                         AS plUserId,
        PM.USER_NAME                          AS pmName,
        PL.USER_NAME                          AS plName,
        NVL(ROUND(AVG(NVL(T.PROGRESS_RATE, 0)), 0), 0) AS progressRate
        FROM PROJECTS P2
        LEFT JOIN USERS PM
        ON PM.USER_ID = P2.PM_USER_ID
        LEFT JOIN USERS PL
        ON PL.USER_ID = P2.PL_USER_ID
        LEFT JOIN PROJECTS P
        ON P.PARENT_PROJECT_ID = P2.PROJECT_ID
        AND P.STATUS = 'F1'
        LEFT JOIN TASKS T
        ON T.PROJECT_ID = P.PROJECT_ID
        WHERE P2.PARENT_PROJECT_ID IS NULL
        AND P2.STATUS = 'F1'
        GROUP BY
        P2.PROJECT_ID,
        P2.PROJECT_NAME,
        P2.IDENTIFIER,
        P2.START_DATE,
        P2.END_DATE,
        P2.IS_PUBLIC,
        P2.USE_MILESTONE,
        P2.PM_USER_ID,
        P2.PL_USER_ID,
        PM.USER_NAME,
        PL.USER_NAME
        ORDER BY P2.PROJECT_ID
    </select>

    <!-- 프로젝트 생성 -->
    <insert id="registerProject">
        <selectKey keyProperty="projectId" resultType="int" order="BEFORE">
            SELECT project_seq.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO PROJECTS (
        PROJECT_ID,
        IDENTIFIER,
        PARENT_PROJECT_ID,
        PROJECT_NAME,
        DESCRIPTION,
        START_DATE,
        END_DATE,
        STATUS,
        IS_PUBLIC,
        CREATED_AT,
        UPDATED_AT,
        CREATED_BY,
        PM_USER_ID,
        PL_USER_ID,
        EDITOR_USER_ID,
        USE_MILESTONE
        ) VALUES (
        #{projectId},
        FN_GEN_PROJECT_IDENTIFIER(),
        NULL,
        #{projectName},
        #{description},
        #{startDate},
        #{endDate},
        'F1',
        #{isPublic},
        SYSDATE,
        NULL,
        #{createdBy},
        #{pmUserId},
        #{plUserId},
        NULL,
        #{useMilestone}
        )
    </insert>

    <!--프로젝트 생성시 총괄PL 리스트 불러오기 -->
    <select id="getPlList" resultType="ProjectUserDtoJDJ">
        SELECT
            U.USER_ID,
            U.USER_NAME
        FROM USERS U
        JOIN GROUP_MEMBERS GM
            ON GM.USER_ID = U.USER_ID
        WHERE GM.GROUP_ID = 6 AND U.is_active = 'O1' AND U.user_type = 'M2'
    </select>

    <!--하위프로젝트 생성 시 그 프로젝트의 role이 PL인 사람 불러오기-->
    <select id="getPlRoleList" resultType="ProjectRolePlListDto">
        SELECT DISTINCT
            U.USER_ID,
            U.USER_NAME
        FROM PROJECT_MEMBERS PM
        JOIN USERS U
            ON U.USER_ID = PM.USER_ID
        JOIN PROJECT_MEMBER_ROLES PMR
            ON PMR.PROJECT_MEMBER_ID = PM.PROJECT_MEMBER_ID
        JOIN ROLES R
            ON R.ROLE_ID = PMR.ROLE_ID
        WHERE PM.PROJECT_ID = #{projectId}
            AND PM.IS_ACTIVE = 'O1'
            AND R.ROLE_NAME = 'PL'
        ORDER BY U.USER_ID
    </select>


    <!--  프로젝트 단건조회  -->
    <select id="getSingleProject" resultType="ProjectSingleDtoJDJ">
        SELECT
        P.PROJECT_ID                         AS projectId,
        P.PROJECT_NAME                       AS projectName,
        P.IDENTIFIER                         AS identifier,
        P.DESCRIPTION                        AS description,
        TO_CHAR(P.START_DATE, 'YYYY-MM-DD') AS startDate,
        TO_CHAR(P.END_DATE, 'YYYY-MM-DD')   AS endDate,
        U.USER_NAME                          AS managerName
        FROM PROJECTS P
        LEFT JOIN USERS U
        ON U.USER_ID = P.SUB_PL_USER_ID
        WHERE P.PROJECT_ID = #{projectId}
    </select>

    <!-- 하위프로젝트 목록 조회 -->
    <select id="getSubpList" resultType="ProjectSubListDtoJDJ">
        SELECT
        RT.PROJECT_NAME AS ROOT_PROJECT_NAME,
        P.PROJECT_ID,
        P.PROJECT_NAME,
        P.IDENTIFIER,
        P.SUB_PL_USER_ID,
        M.MILESTONE_ID,
        M.MILESTONE_NAME,
        U.USER_NAME
        FROM PROJECTS P
        JOIN PROJECTS RT
        ON RT.PROJECT_ID = P.PARENT_PROJECT_ID
        LEFT JOIN MILESTONE_MAPPING MM
        ON P.PROJECT_ID = MM.PROJECT_ID
        LEFT JOIN MILESTONES M
        ON MM.MILESTONE_ID = M.MILESTONE_ID
        LEFT JOIN USERS U
        ON U.USER_ID = P.SUB_PL_USER_ID
        WHERE P.PARENT_PROJECT_ID = #{parentProjectId}
        AND P.STATUS IN ('F1', 'F2')
        ORDER BY
        M.MILESTONE_ID NULLS LAST,
        P.PROJECT_ID
    </select>

    <!-- 하위프로젝트 생성 -->
    <insert id="registerSubProject">
        <selectKey keyProperty="projectId" resultType="int" order="BEFORE">
            SELECT project_seq.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO PROJECTS (
        PROJECT_ID,
        IDENTIFIER,
        PARENT_PROJECT_ID,
        PROJECT_NAME,
        DESCRIPTION,
        START_DATE,
        END_DATE,
        STATUS,
        IS_PUBLIC,
        CREATED_AT,
        UPDATED_AT,
        CREATED_BY,
        PM_USER_ID,
        PL_USER_ID,
        USE_MILESTONE,
        SUB_PL_USER_ID,
        EDITOR_USER_ID
        )
        VALUES (
        #{projectId},
        FN_GEN_SUBPROJECT_IDENTIFIER(#{parentProjectId}),
        #{parentProjectId},
        #{projectName},
        #{description},
        #{startDate},
        #{endDate},
        'F1',
        #{isPublic},
        SYSDATE,
        NULL,
        #{userId},
        (SELECT PM_USER_ID FROM PROJECTS WHERE PROJECT_ID = #{parentProjectId}),
        (SELECT PL_USER_ID FROM PROJECTS WHERE PROJECT_ID = #{parentProjectId}),
        (SELECT USE_MILESTONE FROM PROJECTS WHERE PROJECT_ID = #{parentProjectId}),
        #{subPlUserId},
        NULL
        )
    </insert>


    <insert id="registerMilestoneMapping">
        <selectKey keyProperty="milestoneMappingId" resultType="int" order="BEFORE">
            SELECT milestone_mapping_seq.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO MILESTONE_MAPPING (
        MILESTONE_MAPPING_ID,
        MILESTONE_ID,
        PROJECT_ID,
        RELATION
        )
        VALUES (
        #{milestoneMappingId},
        #{milestoneId},
        #{projectId},
        'M1'
        )
    </insert>

    <!--하위프로젝트 수정용 조회-->
    <select id="getSubProjectDetail" resultType="ProjectSubCreateDtoJDJ">
        SELECT
            P.PROJECT_ID               AS projectId,
            P.PARENT_PROJECT_ID        AS parentProjectId,
            P.PROJECT_NAME             AS projectName,
            P.IDENTIFIER               AS identifier,
            P.SUB_PL_USER_ID           AS subPlUserId,
            TO_CHAR(P.START_DATE, 'YYYY-MM-DD') AS startDate,
            TO_CHAR(P.END_DATE, 'YYYY-MM-DD')   AS endDate,
            P.DESCRIPTION              AS description,
            P.USE_MILESTONE            AS useMilestone,
            P.IS_PUBLIC                AS isPublic,
            MM.MILESTONE_ID            AS milestoneId,
            MM.MILESTONE_MAPPING_ID    AS milestoneMappingId
        FROM PROJECTS P
        LEFT JOIN MILESTONE_MAPPING MM
            ON MM.PROJECT_ID = P.PROJECT_ID
        WHERE P.PROJECT_ID = #{projectId}
    </select>

    <!--하위프로젝트 수정-->
    <update id="modifySubProject" parameterType="ProjectSubCreateDtoJDJ">
        UPDATE PROJECTS
        SET
        PROJECT_NAME = #{projectName},
        DESCRIPTION = #{description},
        START_DATE = #{startDate},
        END_DATE = #{endDate},
        IS_PUBLIC = #{isPublic},
        SUB_PL_USER_ID = #{subPlUserId},
        EDITOR_USER_ID = #{userId},
        UPDATED_AT = SYSDATE
        WHERE PROJECT_ID = #{projectId}
    </update>

    <update id="modifyMilestoneMapping" parameterType="ProjectSubCreateDtoJDJ">
        UPDATE MILESTONE_MAPPING
        SET
        MILESTONE_ID = #{milestoneId}
        WHERE MILESTONE_MAPPING_ID = #{milestoneMappingId}
    </update>

    <!--하위프로젝트 삭제(상태값 업데이트 F1 에서 F3 로)-->
    <update id="removeSubProjectStatus" parameterType="ProjectSubCreateDtoJDJ">
        UPDATE PROJECTS
        SET STATUS='F3'
        WHERE PROJECT_ID=#{projectId}
    </update>
</mapper>