<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.ProjectCopyMapper">

    <select id="copyProjectProc" statementType="CALLABLE" parameterType="map">
        { CALL COMPATH.COPY_PROJECT_PROC(
        #{sourceProjectId, mode=IN, jdbcType=NUMERIC},
        #{projectName, mode=IN, jdbcType=VARCHAR},
        #{description, mode=IN, jdbcType=VARCHAR},
        #{startDate, mode=IN, jdbcType=VARCHAR},
        #{endDate, mode=IN, jdbcType=VARCHAR},
        #{isPublic, mode=IN, jdbcType=VARCHAR},
        #{useMilestone, mode=IN, jdbcType=VARCHAR},
        #{pmUserId, mode=IN, jdbcType=NUMERIC},
        #{plUserId, mode=IN, jdbcType=NUMERIC},
        #{createdBy, mode=IN, jdbcType=NUMERIC},
        #{copyMembers, mode=IN, jdbcType=VARCHAR},
        #{copySubProjects, mode=IN, jdbcType=VARCHAR},
        #{copyMilestones, mode=IN, jdbcType=VARCHAR},
        #{copyTasks, mode=IN, jdbcType=VARCHAR},
        #{newProjectId, mode=OUT, jdbcType=NUMERIC}
        ) }
    </select>

</mapper>