<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.report.mapper.TaskReportMapper">
    <sql id="task">
        task_id,
        parent_task_id,
        project_id,
        milestone_id,
        task_type_id,
        task_status_id,
        title,
        content,
        assignee_user_id,
        priority_code,
        progress_rate,
        start_date,
        due_date,
        estimated_hours,
        actual_hours,
        is_deleted,
        created_by,
        created_at,
        updated_at,
        est_start_date,
        est_end_date,
        attachment_group_id,
        editor_user_id
    </sql>

    <select id="getReportAll"
            parameterType="com.example.report.dto.TaskReportDto"
            resultType="com.example.report.dto.TaskReportDto">
        SELECT
        t.task_id          AS taskId,
        t.parent_task_id   AS parentTaskId,
        t.project_id       AS projectId,
        p.project_name     AS projectName,
        t.title            AS title,
        t.assignee_user_id AS assigneeUserId,
        u.user_name        AS userName,
        t2.type_name       AS typeName,
        t.progress_rate    AS progressRate,
        t.actual_hours     AS actualHours,
        t.start_date       AS startDate,
        t.due_date         AS dueDate
        FROM tasks t
        LEFT JOIN projects p ON t.project_id = p.project_id
        LEFT JOIN task_types t2 ON t.task_type_id = t2.task_type_id
        LEFT JOIN users u ON t.assignee_user_id = u.user_id
        <where>
            <if test="projectId != null">
                AND (t.project_id = #{projectId} OR p.parent_project_id = #{projectId})
            </if>
            <if test="title != null and title != ''">
                AND (
                t.title LIKE '%' || #{title} || '%'
                OR u.user_name LIKE '%' || #{title} || '%'
                OR t2.type_name LIKE '%' || #{title} || '%'
                )
            </if>
            <if test="assigneeUserId != null">
                AND t.assignee_user_id = #{assigneeUserId}
            </if>
            <if test="typeName != null and typeName != ''">
                AND t2.type_name = #{typeName}
            </if>
            <if test="startDate != null and startDate != ''">
                AND t.start_date >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
            </if>
            <if test="dueDate != null and dueDate != ''">
                AND t.due_date <![CDATA[ <= ]]> TO_DATE(#{dueDate}, 'YYYY-MM-DD')
            </if>
        </where>
        ORDER BY t.start_date DESC
    </select>




</mapper>
